body {
  font-family: 'Montserrat' !important;
}

.activeLink {
  border-bottom: 2px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'CFSamuraiBob';
  src: url('../fonts/CFSamuraiBob-Regular.woff2') format('woff2'),
    url('../fonts/CFSamuraiBob-Regular.woff') format('woff'),
    url('../fonts/CFSamuraiBob-Regular.woff') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GangOfThree';
  src: url('../fonts/go3v2.ttf') format('truetype'),
    url('../fonts/go3v2.ttf') format('svg');
  font-weight: 400;
  font-style: normal;
}